<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button (click)="izlogujSe()">log out</button>

    <header>
        <label class="dobrodosao">Dobrodosao, {{ulogovan.ime}} {{ulogovan.prezime}}</label>
        <ul class="navigacija">
            <li><a routerLink="/prihvatanje_korisnika">prihvatanje korisnika</a></li>
            <li><a routerLink="/izmena_korisnika">izmena korisnika</a></li>
            <li><a routerLink="/dodavanje_agencije">dodavanje agencije</a></li>
            <li><a routerLink="/dodavanje_mikrolokacije">dodavanje mikrolokacije</a></li>
            <li><a routerLink = "/promena_lozinke">promena lozinke</a></li>
        </ul>
        
    </header>











</body>

</html>